

.td-bg-primary-light {
    background: hsl(210, 88%, 93%);
}

.td-border-left-light {
    border-left: .5px solid rgba(0,0,0,.15);
}
.td-border-right-light {
    border-right: .5px solid rgba(0,0,0,.15);
}
.td-border-top-light {
    border-top: .5px solid rgba(0,0,0,.15);
}
.td-border-bottom-light {
    border-bottom: .5px solid rgba(0,0,0,.15);
}

.td-text-size-big {
    font-size: 20px;
}
.td-text-size-large {
    font-size: 33px;
}
.td-text-size-huge {
    font-size: 39px;
}

.td-text-weight-bold {
    font-weight: 600!important;
}

.td-text-weight-400 {
    font-weight: 400!important;
}

.td-text-weight-500 {
    font-weight: 400!important;
}

.td-text-weight-600 {
    font-weight: 600!important;
}


.td-label-code {
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    background-color: #eff0f2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding: 1px 6px;
    font-family: 'Roboto Mono', monospace;
}


.td-margin-text {
    margin: 0 5px;
}






/* SIDEBAR */

.td-sidebar-subtopic {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding: 4px 0px 4px 0px;
}